- [가장 큰 수](https://programmers.co.kr/learn/courses/30/lessons/42746)
- [주식가격](https://programmers.co.kr/learn/courses/30/lessons/42584?language=python3)
- [후보키](https://programmers.co.kr/learn/courses/30/lessons/42890)

In [38]:
def largest_num(numbers):
    numbers = list(map(str, numbers))
    
    for idx1 in range(1, len(numbers)):
        idx2 = 0
        while (idx2 < len(numbers[idx1])):
            try:
                if numbers[idx1][idx2] > numbers[idx1-1][idx2]:
                    numbers[idx1-1], numbers[idx1] = numbers[idx1], numbers[idx1-1]
                    break
                elif numbers[idx1][idx2] < numbers[idx1-1][idx2]:
                    break
                else:
                    idx2 += 1
            except IndexError:
                if numbers[idx1][idx2-1] > numbers[idx1][idx2]:
                    numbers[idx1-1], numbers[idx1] = numbers[idx1], numbers[idx1-1]
                    idx2 += 1
                else:
                    idx2 += 1
        
    answer = "".join(numbers)
    return answer

In [39]:
num_list1 = [6, 10, 2]
largest_num(num_list1)

'6210'

In [40]:
num_list2 = [3, 30, 34, 5, 9]
largest_num(num_list2)

'3035934'

In [20]:
def stock_price(prices):
    answer = [0 for i in range(len(prices))]
    
    for idx1 in range(len(prices)):
        for idx2 in range(idx1+1, len(prices)):
            if prices[idx1] <= prices[idx2]:
                answer[idx1] += 1
            else:
                answer[idx1] += 1
                break
                
    return answer

In [21]:
price_list1 = [1, 2, 3, 2, 3]
stock_price(price_list1)

[4, 3, 1, 1, 0]

In [22]:
price_list2 = [3, 5, 4, 3, 2]
stock_price(price_list2)

[4, 1, 1, 1, 0]

In [6]:
def candidate_key(relation):
    answer = 0
    return answer

In [7]:
relation_list = [["100","ryan","music","2"],
                 ["200","apeach","math","2"],
                 ["300","tube","computer","3"],
                 ["400","con","computer","4"],
                 ["500","muzi","music","3"],
                 ["600","apeach","music","2"]]
candidate_key(relation_list)

0

'[1, 2, 3, 4]'